main {
    display: flex;
    text-align: center;
}
.divider {
    align-self: center;
    border:none;
    border-top: 2px solid #EE4B2B; 
    margin: 12px 0;  
    width: 50%; 
    margin-right: auto; 
}
h1{
    text-align: center;
}
p {
    text-align: center;
    font-family: Arial, sans-serif;
}

li {
    text-align: center;
    font-family: Arial, sans-serif;
}
