main {
    display: flex;
    text-align: center;
}
.divider {
    align-self: center;
    border:none;
    border-top: 2px solid #EE4B2B; 
    margin: 12px 0;  
    width: 50%; 
    
}
h1{
    text-align: center;
    color: #e60012;
    text-shadow: 2px 2px 2px black;
    font-family: 'mario_pixel',Arial, sans-serif;
}

p {
    text-align: center;
    font-family: Arial, sans-serif;
}

li {
    text-align: center;
    font-family: Arial, sans-serif;
    list-style-type: none;
}
